
CREATE PROC [DBO].[USP_DEPARTMENT](@IP1 SMALLINT,@IP2 VARCHAR(50))
AS
BEGIN
	BEGIN TRY
		IF  EXISTS(SELECT 1 FROM HUMANRESOURCES.DEPARTMENT WHERE DEPARTMENTID=@IP1 )
		BEGIN
			IF LEN(@IP2)>=3 AND LEN(@IP2)<=15
			BEGIN
				UPDATE HUMANRESOURCES.DEPARTMENT SET NAME=@IP2,MODIFIEDDATE=GETDATE() WHERE DEPARTMENTID=@IP1 ;
			END 
			ELSE
			RETURN -2
		END
		ELSE
		RETURN -1
	END TRY
	BEGIN CATCH
		RETURN -99
	END CATCH

END